<h1 class="display-4">About</h1>
<p class="lead">An app to add up your interesting ideas and modify them as you get more insights.</p>
<p>Version 1.0.0</p>
<p>Built by Michael Ogunsanmi 2019 &copy; </p>